body {
    padding-top: 50px;
}
.content {
    padding: 15px 0 0 0;
    text-align: center;
}
.section {
    clear: both;
    text-align: left;
    background-color: #eee;
    margin: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}
.section-header {
    font-size: 20pt;
    text-align: left;
    font-weight: bold;
    background-color: #222;
    padding: 15px;
    color: #eee;
    border-radius: 5px 5px 0 0;
}
.section-content {
    padding: 15px;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
